@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Public+Sans:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Public Sans", sans-serif
}
a{
    text-decoration: none;
    color:   hsl(233, 8%, 62%);
    text-align: center;
}
a:hover { color: green;}
nav{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem clamp(1rem,  6vw, 8rem);
    position:relative;
    width: 100%;
}
.ham{
    /* visibility: hidden; */
    display: none;
}
.btn{
    background-color:  hsl(322, 100%, 66%);
    color: #fff;
    border-radius: 30px;
    height: fit-content;
    padding: .8rem 1.8rem;
    font-size: 13px;
    font-weight: 300;
    border: none;
    background-image: linear-gradient(to right, limegreen , cyan);
}

.lists{
    display: flex;
    width: 40%;
    flex-flow: row nowrap;
    justify-content: space-evenly ;
}
.next{
    display: flex;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    overflow: hidden
    /* position: relative; */
}
.div1{
    margin-top: 2rem;
    height: 2rem;
    padding: 7rem 5rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    margin-bottom: 10%;
}
.mockups {
    width: 100%;
    transform: translate(3rem, 0);
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    /* background-position:inherit; */
    background-size: cover;  
   overflow: hidden;
    /* overscroll-behavior: contain; */
    margin: 0;
}
.mockups img{
    /* width: 50%; */
    margin-top: -15%;
}
h1{
font-size: 2rem;
font-weight: 400;
color: hsl(233, 26%, 24%);
}
p{
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.div1 h1{
    padding-bottom: 1rem;
}
.div1 p{
    padding-bottom: 2rem;
}
.why{
    background-color: hsl(220, 16%, 96%);
    margin-top: -5%;
    padding-left: 7rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    
}
.why h1{
    padding-top: 5rem;
    margin-bottom: 3rem;
}
.flex1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 100%;
}
.flex1 big{
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.Articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    padding-left: 7em;
    padding-right: 3rem;
    padding-bottom: 5rem;
}
.Articles img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.sub{
    padding: 1em;
}
.sub small{
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.sub big{
    display: block;
    padding-bottom: 1rem;
}
.latest{
    background-color: #eee;
}
.latest h1{
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 7rem;
    padding-right: 3rem;
}

.footer{
    background-color: hsl(233, 26%, 24%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding-left: 7rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
    gap: 5px;  
} 
.careers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.easybank{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.footer btn{
    width: 50%;
}
/* mobile design */
@media only screen and (max-width:1100px)  {
    #open {
display: none;
    }
    .navbar .btn{
        display: none;
    }
    .ham{
        display: block;
    }
    .next{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .div1{
        margin-bottom: 30rem;
        text-align: center;
        align-items: center;
        width: unset;
    }
    .mockups img{
        width: 100%;
        background-size: cover;
    }
    .why{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .flex1{
        display: block;
        text-align: center;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .div2{
        margin: 2rem auto;  
    }
    .latest h1{
text-align: center;
padding-left: unset;
padding-right: unset;
    }
    .Articles{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .article{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .social-icons{
        margin-top: 2rem;
        text-align: center;
        padding: unset;
    }
    .about{
        justify-content: space-around;
        text-align: center;
    }
    .about a{
        margin: 5px;
    }
    .careers{
        justify-content: space-around;
        text-align: center;
    }
    .careers a{
        margin: 5px;
    }
    .easybank{
        justify-content: space-around;
        text-align: center;
    }
    .easybank a{
        margin: 3px;
    }
}
@media only screen and (max-width:1280px)  {
    .lists a{
display: none;
    }
    .navbar .btn{
        display: none;
    }
    .ham{
        display: block;
    }
    .next{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .div1{
        margin-bottom: 30rem;
        text-align: center;
        align-items: center;
    }
    .mockups img{
        width: 100%;
        background-size: cover;
    }
    .why{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .flex1{
        display: block;
        text-align: center;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .div2{
        margin: 2rem auto;  
    }
    .latest h1{
text-align: center;
padding-left: unset;
padding-right: unset;
    }
    .Articles{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .article{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .social-icons{
        text-align: center;
        padding: unset;
    }
    .about{
        justify-content: space-around;
        text-align: center;
    }
    .careers{
        justify-content: space-around;
        text-align: center;
    }
    .easybank{
        justify-content: space-around;
        text-align: center;
    }
}
@media only screen and (max-width:400px)  {
    .lists a{
display: none;
    }
    .navbar .btn{
        display: none;
    }
    .ham{
        display: block;
    }
    .next{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .div1{
        margin-bottom: 30rem;
        text-align: center;
        align-items: center;
    }
    .mockups img{
        width: 100%;
        background-size: cover;
    }
    .why{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .flex1{
        display: block;
        text-align: center;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .div2{
        margin: 2rem auto;  
    }
    .latest h1{
text-align: center;
padding-left: unset;
padding-right: unset;
    }
    .Articles{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .article{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .social-icons{
        /* margin-top: 1rem; */
        text-align: center;
        padding: unset;
    }
    .about{
        justify-content: space-around;
        text-align: center;
    }
    .careers{
        justify-content: space-around;
        text-align: center;
    }
    .easybank{
        justify-content: space-around;
        text-align: center;
    }
}